<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }}{{ if not .IsHome }} — {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta name="author" content="{{ .Site.Params.author.name }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta property="og:type" content="website" />

    {{ with resources.Get "css/global.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" />
    {{ end }}
  </head>
  <body>
    <main>{{ block "main" . }}{{ end }}</main>
  </body>
</html>
